:root {
    --bg_color: #fff;
    --head_foot_bg_color: #F2F2F2;
    --accent_color: #10BB87;
    --head1: 36px;
    --head2: 24px;
    --ext_p: 18px;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap');

/*BASIC STYLES*/
*, *::after, *::before {
    box-sizing: border-box;
}
body {
    font-family: Inter;
}

.second_p {
    font-weight: 400;
}

.first_head {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

/*HEADER*/
header {
    background: var(--head_foot_bg_color);
}

header > .logo, header > nav {
    height: 81px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    border-bottom: #E5E5E5 2px solid;
    padding: 20px;
    box-sizing: border-box;
}

header > .logo > img {
    width: 170px;
}

header > .logo > nav, .sub_menu {
    display: none;
}

nav {
    font-size: var(--ext_p);
    font-weight: 500;
}

nav > .buttons {
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > .links > li, .buttons > a {
    margin-right: 28px;
}

nav > .links > li:last-child, .buttons > a:last-child {
    margin-right: 0;
}

.buttons > a {
    height: 40px;
    width: 40px;
    background: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.15);
}

.buttons > a:last-child {
    width: 162px;
    padding: 12px 30px;
}

.buttons > a > img {
    width: 13px;
}

.buttons > a:last-child > img, .buttons > a:nth-child(3) > img {
    margin-left: 10px;
}

.buttons > a:nth-child(3) {
    width: 120px;
    display: none;
}

.mobile_menu {
    display: none;
}

@media (max-width: 1200px) {
    header > .logo {
        justify-content: space-between;
    }

    header > .logo > nav {
        display: flex;
    }

    header > nav {
        display: none;
    }

    @media (max-width: 960px) {
        header > .logo > nav > .links {
            display: none;
        }

        .buttons > a:last-child {
            display: none;
        }

        .buttons > a:nth-child(3) {
            display: flex;
            margin: 0;
        }

        .buttons > .clicked + .sub_menu {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: calc(81px + 5px);
            right: 25px;
            margin: 0;
            background-color: var(--head_foot_bg_color);
            border-radius: 10px;
            box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.15);
        }

        .buttons > .clicked + .sub_menu > li {
            padding: 5px 20px;
            text-align: center;
        }
    }
}

@media (max-width: 480px) {
    .mobile_menu {
        display: flex;
        justify-content: space-around;
        background: var(--bg_color);
        width: 95%;
        height: 50px;
        margin-bottom: 20px;
        position: fixed;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: 20px;
        border-radius: 10px;
        box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.15);
        z-index: 2;
    }

    .mobile_menu > li {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobile_menu > li > img {
        width: 24px;
    }

    .mobile_menu > li:nth-child(3) > img {
        width: 28px;
    }

    header > .logo > nav {
        display: none;
    }

    header > .logo {
        justify-content: center;
    }

    .mobile_menu > .clicked > .sub_menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        bottom: calc(50px + 10px);
        background-color: var(--head_foot_bg_color);
        border-radius: 10px;
        box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.15);
        background-color: var(--bg_color);
    }

    .sub_menu > li {
        padding: 5px 20px;
        text-align: center;
        font-size: var(--head2);
    }
}

/*MAIN BLOCK*/
.head_section {
    width: 50%;
    min-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 105px;
    box-sizing: content-box;
    padding-bottom: 64px;
    border-bottom: #F2F2F2 2px solid;
}

.head_section > .text {
    width: 45%;
}

.head_section > .text > h1 {
    font-size: var(--head1);
}

.head_section > .text > p {
    font-size: var(--ext_p);
    margin-top: 44px;
}

.head_section > .text > p:nth-child(3) {
    margin-bottom: 30px;
}

.head_section > .text > a {
    border-radius: 10px;
    background: #10BB87;
    box-shadow: 0px 9px 25px -4px rgba(72, 123, 108, 0.50);
    color: #fff;
    padding: 12px 30px;
    font-size: var(--ext_p);
    box-sizing: content-box;
}

.head_section > img {
    width: 50%;
    border-radius: 28px;
}

@media (max-width: 960px) {
    .head_section {
        width: 91%;
        min-width: 480px;
        height: 500px;
    }

    .head_section > .text {
        width: 51%;
        font-size: var(--head2);
    }

    .head_section > .text > p {
        margin-top: 10px;
    }

    .head_section > .text > p:nth-child(3) {
        margin-bottom: 20px;
    }

    .head_section > img {
        width: 46%;
        object-fit: cover;
    }
}

@media (max-width: 480px) {
    .head_section {
        width: 94%;
        flex-direction: column-reverse;
        min-width: 240px;
        margin: 0 auto;
        margin-top: 12px;
        height: auto;
        padding-bottom: 50px;
    }

    .head_section > .text {
        width: 100%;
    }
    
    .head_section > .text > h1 {
        font-size: var(--head2);
    }
    
    .head_section > .text > p {
        margin-top: 28px;
    }
    
    .head_section > .text > p:nth-child(3) {
        margin-bottom: 30px;
    }
    
    .head_section > img {
        width: 100%;
        margin-bottom: 50px;
    }
}

/*ADVATAGES*/

section.cards {
    width: 91%;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 24px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    gap: 64px;
}

section.cards > .card {
    padding-right: 10px;
}

section.cards > .card > img {
    height: 50px;
}

section.cards > .card > p:nth-child(2) {
    font-size: var(--ext_p);
    font-weight: 600;
    margin: 10px 0;
}

section.cards > .card > p:nth-child(3) {
    font-size: 16px;
    font-weight: 500;
    color: #B3B3B3;
}

@media (max-width: 1060px) {
    section.cards {
        gap: 0;
        grid-row-gap: 10px;
    }
}

@media (max-width: 850px) {
    section.cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*SERVICES*/

.services {
    width: 91%;
    max-width: 965px;
    margin: 0 auto;
    margin-top: 85px;
}

.services > span {
    font-size: var(--head2);
    font-weight: 600;
    height: 32px;
    display: inline-flex;
}

.services > a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.15);
    margin-left: 33px;
}

.services > a > img {
    width: 20px;
    margin: auto;
}

.services > .cards {
    width: 100%;
    margin-top: 63px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(170px, 230px));
    gap: 64px;
}

.services > .cards > .card {
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.services > .cards > .card > img{
    height: 50px;
}

.services > .cards > .card > p:nth-child(2) {
    font-size: var(--ext_p);
    font-weight: 600;
    margin: 10px 0;
}

.services > .cards > .card > p:nth-child(3) {
    font-size: 16px;
    font-weight: 500;
    color: #B3B3B3;
}

.services > .cards > .card > a {
    border-radius: 10px;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.15);
    padding: 12px 30px;
    display: inline-block;
    margin-top: 28px;
}

@media (max-width: 1060px) {
    .services > .cards {
        gap: 0;
        grid-row-gap: 10px;
    }
}

@media (max-width: 850px) {
    .services > .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*REVIEW*/

.review {
    width: 90%;
    position: relative;
    right: -10%;
    display: flex;
    justify-content: flex-end;
    margin-top: 75px;
}

.review > .comment {
    width: 25%;
    min-width: 450px;
    background-color: var(--accent_color);
    border-radius: 28px 0 0 28px;
    padding: 45px;
}


.review > .comment > img {
    border-radius: 50%;
}

.review > .comment > p:nth-child(2), .review > .comment > p:nth-child(4) {
    margin-top: 10px;
    color: #FFF;
    font-size: var(--head2);
    font-weight: 700;
}

.review > .comment > p:nth-child(3) {
    color: #487B6C;
    font-size: 12px;
    font-weight: 500;
    margin-top: 4px;
}

.review > .comment > p:nth-child(5) {
    color: #FFF;
    font-size: var(--ext_p);
    margin-top: 15px;
}

.review > .comment > a {
    width: 195px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 25px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    margin-top: 40px;
}

.review > .comment > a > img {
    margin-left: 5px;
}

/*WINDOW*/

.review > .window {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 32px 1fr;
    background-color: #fff;
    height: 200px;
    z-index: 1;
    margin-right: -20px;
    margin-top: 80px;
}

.review  .window {
    border-radius: 7px;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.15);
}

.review > .window > .bar {
    grid-area: 1 / 1 / 1 / 5;
    background: linear-gradient(180deg, #4D4D4D 0%, #262626 100%);
    border-radius: 7px 7px 0 0;
}

.review > .window > .block {
    padding: 20px;
}

.review > .window > .block:nth-child(4) {
    padding: 0;
}

.review > .window > .block:nth-child(4) > .window {
    position: relative;
    top: 50px;
    background-color: #fff;
}

.review > .window > .block:nth-child(4) > .window > .bar {
    height: 32px;
    background: linear-gradient(180deg, #4D4D4D 0%, #262626 100%);
    border-radius: 7px 7px 0 0;
}

.review > .window > .block > .window {
    padding-bottom: 10px;
}

.review > .window > .block > .window > p{
    margin: 10px;
}

.review > .window > .block > p:first-child, .window > p:nth-child(2) {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    margin-top: 24px;
}

.review > .window > .block > p:nth-child(2), .window > p:nth-child(3) {
    color: #B3B3B3;
    font-size: 14px;
    margin-top: 16px;
}

.window .bar {
    display: flex;
    justify-content: start;
    align-items: center;
}

.window .bar span {
    height: 11px;
    width: 11px;
    border-radius: 50%;
    margin-left: 10px;
}

.window .bar span:first-child {
    background-color: #FF2F54;
}

.window .bar span:nth-child(2) {
    background-color: #FFA630;
}

.window .bar span:nth-child(3) {
    background-color: #10BB87;
}

@media (max-width: 960px) {
    .review {
        width: 100%;
        min-width: 300px;
        right: 0;
        flex-direction: column-reverse;
        justify-content: flex-end;
        margin-top: 25px;
    }

    .review > .comment {
        width: 100%;
        min-width: 300px;
        border-radius: 0;
        padding: 35px;
    }

    .review > .window {
        position: relative;
        top: -20px;
        width: 90%;
        margin: 0 auto;
    }

    .review > .window > .block:nth-child(4) > .window {
        top: 60px;
    }
}

@media (max-width: 480px) {
    .review {
        margin-bottom: 100px;
    }

    .review > .window {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 32px 1fr 1fr;
        height: 290px;
    }

    .review > .window > .bar {
        grid-area: 1 / 1 / 1 / 3;
    }

    .review > .window > .block:nth-child(4) {
        padding: 5px;
    }

    .review > .window > .block:nth-child(4) > .window {
        top: 30px;
    }
}

/*FOOTER*/
footer {
    background-color: var(--head_foot_bg_color);
    margin-top: 197px;
    padding-top: 50px;
    padding-bottom: 80px;
}

footer hr {
    width: 100%;
    height: 2px;
    background-color: #E5E5E5;
}

.first-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, auto-fit);
    width: 95%;
    margin: 0 auto;
    gap: 5px;
}

.first-grid ul {
    display: flex;
    flex-direction: column;
    color: #000;
    font-size: 14px;
    font-weight: 500;
}

.first-grid ul li {
    margin-bottom: 20px;
}

.first-grid ul li:last-child {
    margin-bottom: 0;
}

.first-grid > img {
    grid-area: 1 / 1 / 5 / 1;
    margin: 0 auto;
}

.first-grid > .list1 {
    grid-area: 1 / 2 / 3 / 2;
}

.first-grid > .list2 {
    grid-area: 1 / 3 / 3 / 3;
}

.first-grid > .title1 {
    grid-area: 1 / 4;
    color: #B3B3B3;
    font-size: 16px;
    font-weight: 500;
}

.first-grid > hr.first {
    grid-area: 1 / 5 / 1 / 7;
}

.first-grid > .list3 {
    grid-area: 2 / 4;
}

.first-grid > .list4 {
    grid-area: 2 / 5;
}

.first-grid > .list5 {
    grid-area: 2 / 6;    
}

.first-grid > .title2 {
    grid-area: 3 / 2;
    color: #B3B3B3;
    font-size: 16px;
    font-weight: 500;
    margin-top: 64px;
}

.first-grid > hr.second {
    grid-area: 3 / 3 / 3 / 7;
    margin-top: calc(64px + 8px);
}

.first-grid > .list6 {
    grid-area: 4 / 2;
}

.first-grid > .list7 {
    grid-area: 4 / 3;
}

.first-grid > .list8 {
    grid-area: 4 / 4;
}

.first-grid > .list9 {
    grid-area: 4 / 5;
}

.first-grid > .list10 {
    grid-area: 4 / 6;
}

.second-grid {
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr);
    grid-template-rows: 1fr;
}

.second-grid > .social-media {
    display: flex;
    
}

.second-grid > .social-media > a {
    height: 40px;
    width: 40px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 28px;
}

.second-grid > .social-media > a:first-child {
    margin-left: 0;
}

.second-grid > address > p {
    color: #B3B3B3;
    font-size: 18px;
    font-weight: 500;
}

.second-grid > address > a {
    color: #000;
    font-size: 16px;
    display: block;
    margin-top: 20px;
}

.second-grid > .profile > a:nth-child(1), .second-grid > .data > a:nth-child(1){
    color:  #487B6C;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.second-grid > .profile > a:nth-child(1) > img, .second-grid > .data > a:nth-child(1) > img {
    margin-right: 6px;
}

.second-grid > .profile > a:last-child, .second-grid > .data > p {
    display: block;
    margin-top: 20px;
}

@media (max-width: 850px) {    
    .first-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, auto-fit);
    }

    .first-grid > img {
        grid-area: 1 / 1;
        margin: auto;
    }

    .first-grid > .list1 {
        grid-area: 1 / 2;
    }

    .first-grid > .list2 {
        grid-area: 1 / 3;
    }

    .first-grid > .title1 {
        grid-area: 2 / 1;
    }

    .first-grid > hr.first {
        grid-area: 2 / 2 / 2 / 4;
    }

    .first-grid > .list3 {
        grid-area: 3 / 1;
    }

    .first-grid > .list4 {
        grid-area: 3 / 2;
    }

    .first-grid > .list5 {
        grid-area: 3 / 3;
    }

    .first-grid > .title2 {
        grid-area: 4 / 1;
        margin-top: 0;
    }

    .first-grid > hr.second {
        grid-area: 4 / 2 / 4 / 4;
        margin-top: 8px;
    }

    .first-grid > .list6 {
        grid-area: 5 / 1;
    }

    .first-grid > .list7 {
        grid-area: 5 / 2;
    } 

    .first-grid > .list8 {
        grid-area: 5 / 3;
    }

    .first-grid > .list9 {
        grid-area: 6 / 1;
    } 

    .first-grid > .list10 {
        grid-area: 6 / 2;
    } 

    .first-grid ul li {
        margin-bottom: 10px;
    }

    .second-grid {
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
    }

    .second-grid > .social-media {
        grid-area: 1 / 1 / 3 / 1;
    }
}

@media (max-width: 480px) {
    .first-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(9, auto-fit);
        gap: 20px;
    }

    .first-grid > img {
        grid-area: 1 / 1 / 1 / 3;
    }

    .first-grid > .list1 {
        grid-area: 2 / 1;
    }

    .first-grid > .list2 {
        grid-area: 2 / 2;
    }

    .first-grid > .title1 {
        grid-area: 3 / 1;
    }

    .first-grid > hr.first {
        grid-area: 3 / 2;
    }

    .first-grid > .list3 {
        grid-area: 4 / 1;
    }

    .first-grid > .list4 {
        grid-area: 4 / 2;
    }

    .first-grid > .list5 {
        grid-area: 5 / 1 / 5 / 3;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: start;
    }

    .first-grid > .title2 {
        grid-area: 6 / 1;
    }

    .first-grid > hr.second {
        grid-area: 6 / 2;
    }

    .first-grid > .list6 {
        grid-area: 7 / 1;
    }

    .first-grid > .list7 {
        grid-area: 7 / 2;
    }

    .first-grid > .list8 {
        grid-area: 8 / 1;
    }

    .first-grid > .list9 {
        grid-area: 8 / 2;
    }

    .first-grid > .list10 {
        grid-area: 9 / 1 / 9 / 3;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .second-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto-fit);
        gap: 20px;
    }

    .second-grid > .social-media {
        grid-area: 1 / 1 / 1 / 3;
        justify-content: center;
    }
}

@media (hover: hover) {
    footer > .first-grid a:hover {
        color: #FF2F54;
    }
}