:root {
    --bg_color: #fff;
    --head_foot_bg_color: #F2F2F2;
    --accent_color: #10BB87;
    --head1: 36px;
    --head2: 24px;
    --ext_p: 18px;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap');

/*BASIC STYLES*/
*, *::after, *::before {
    box-sizing: border-box;
}
body {
    font-family: Inter;
}

.second_p {
    font-weight: 400;
}

.first_head {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

/*HEADER*/
header {
    background: var(--head_foot_bg_color);
}

header > .logo, header > nav {
    height: 81px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    border-bottom: #E5E5E5 2px solid;
    padding: 20px;
    box-sizing: border-box;
}

header > .logo > img {
    width: 170px;
}

header > .logo > nav, .sub_menu {
    display: none;
}

nav {
    font-size: var(--ext_p);
    font-weight: 500;
}

nav > .buttons {
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > .links > li, .buttons > a {
    margin-right: 28px;
}

nav > .links > li:last-child, .buttons > a:last-child {
    margin-right: 0;
}

.buttons > a {
    height: 40px;
    width: 40px;
    background: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.15);
}

.buttons > a:last-child {
    width: 162px;
    padding: 12px 30px;
}

.buttons > a > img {
    width: 13px;
}

.buttons > a:last-child > img, .buttons > a:nth-child(3) > img {
    margin-left: 10px;
}

.buttons > a:nth-child(3) {
    width: 120px;
    display: none;
}

.mobile_menu {
    display: none;
}

@media (max-width: 1200px) {
    header > .logo {
        justify-content: space-between;
    }

    header > .logo > nav {
        display: flex;
    }

    header > nav {
        display: none;
    }

    @media (max-width: 960px) {
        header > .logo > nav > .links {
            display: none;
        }

        .buttons > a:last-child {
            display: none;
        }

        .buttons > a:nth-child(3) {
            display: flex;
            margin: 0;
        }

        .buttons > .clicked + .sub_menu {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: calc(81px + 5px);
            right: 25px;
            margin: 0;
            background-color: var(--head_foot_bg_color);
            border-radius: 10px;
            box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.15);
        }

        .buttons > .clicked + .sub_menu > li {
            padding: 5px 20px;
            text-align: center;
        }
    }
}

@media (max-width: 480px) {
    .mobile_menu {
        display: flex;
        justify-content: space-around;
        background: var(--bg_color);
        width: 95%;
        height: 50px;
        margin-bottom: 20px;
        position: fixed;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: 20px;
        border-radius: 10px;
        box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.15);
        
    }

    .mobile_menu > a {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobile_menu > a > img {
        width: 24px;
    }

    .mobile_menu > a:nth-child(3) > img {
        width: 28px;
    }

    header > .logo > nav {
        display: none;
    }

    header > .logo {
        justify-content: center;
    }

    .mobile_menu > .clicked + .sub_menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        bottom: calc(50px + 10px);
        background-color: var(--head_foot_bg_color);
        border-radius: 10px;
        box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.15);
        background-color: var(--bg_color);
    }

    .sub_menu > li {
        padding: 5px 20px;
        text-align: center;
        font-size: var(--head2);
    }
}

/*MAIN BLOCK*/
.head_section {
    width: 50%;
    min-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 105px;
    box-sizing: content-box;
    padding-bottom: 64px;
    border-bottom: #F2F2F2 2px solid;
}

.head_section > .text {
    width: 45%;
}

.head_section > .text > h1 {
    font-size: var(--head1);
}

.head_section > .text > p {
    font-size: var(--ext_p);
    margin-top: 44px;
}

.head_section > .text > p:nth-child(3) {
    margin-bottom: 30px;
}

.head_section > .text > a {
    border-radius: 10px;
    background: #10BB87;
    box-shadow: 0px 9px 25px -4px rgba(72, 123, 108, 0.50);
    color: #fff;
    padding: 12px 30px;
    font-size: var(--ext_p);
    box-sizing: content-box;
}

.head_section > img {
    width: 50%;
    border-radius: 28px;
}

@media (max-width: 960px) {
    .head_section {
        width: 91%;
        min-width: 480px;
        height: 500px;
    }

    .head_section > .text {
        width: 51%;
        font-size: var(--head2);
    }

    .head_section > .text > p {
        margin-top: 10px;
    }

    .head_section > .text > p:nth-child(3) {
        margin-bottom: 20px;
    }

    .head_section > img {
        width: 46%;
        object-fit: cover;
    }
}

@media (max-width: 480px) {
    .head_section {
        width: 94%;
        flex-direction: column-reverse;
        min-width: 240px;
        margin: 0 auto;
        margin-top: 12px;
        height: auto;
        padding-bottom: 50px;
    }

    .head_section > .text {
        width: 100%;
    }
    
    .head_section > .text > h1 {
        font-size: var(--head2);
    }
    
    .head_section > .text > p {
        margin-top: 28px;
    }
    
    .head_section > .text > p:nth-child(3) {
        margin-bottom: 30px;
    }
    
    .head_section > .text > a {
    }
    
    .head_section > img {
        width: 100%;
        margin-bottom: 50px;
    }
}