main {
    width: 50%;
    min-width: 960px;
    margin: 0 auto;
    margin-top: 105px;
    box-sizing: content-box;
    padding-bottom: 32px;
    border-bottom: #F2F2F2 2px solid;
}

main h1 {
    font-size: var(--head1);
}

main p {
    font-size: var(--ext_p);
    margin-top: 10px;
}

.price {
    color: #FF2F54;
    font-size: 24px;
}

main h2 {
    text-align: center;
}

.block {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.block .card {
    width: 23%;
    column-gap: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.15);
    transition: .3s;
}

@media (hover: hover) {
    .block .card:hover {
        transform: scale(1.1);
    }
}

.block .card img {
    display: block;
    margin: 0 auto;
    width: 100%;
}


.block .card p {
    text-align: center;
}

@media (max-width: 960px) {
    main {
        width: 90%;
        min-width: auto;
        margin-top: 20px;
    }

    .block {
        flex-wrap: wrap;
        column-gap: 0;
    }

    .block .card {
        width: 40%;
        margin: 20px;
    }
}

@media (max-width: 480px) {
    .block .card {
        width: 100%;
    }
}